.heros{
    grid-column: full-start / full-end;

    background-image: url('../../../assets/banner/1b.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero{
    width: minmax(2rem,1fr);
    padding: 12rem 0 0 7rem ;
    color: $color-white;

    @media only screen and (max-width: $bp-medium){
        padding: 16rem 1rem 0 1rem;
    }

    &__heading{
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.2;

        @media only screen and (max-width: $bp-medium){
            font-size: 3rem;
        }
    }
    &__para{
        font-size: 2rem;
    }
    &__bg{
        background-color: $color-white;
        color: $color-4f;
    }

    &__card{
        grid: grid;
        grid-template-columns: max-content 1fr;
    }
}