.promotions{
    grid-column: center-start / center-end;

    background-image: url(../../../assets/banner/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 5rem;
    background-color: $color-ee;
    overflow: hidden;
    border-radius: 4px;
    
    @media only screen and (max-width: $bp-medium){
        background-image: linear-gradient(to right,rgba($color-white,7),rgba($color-white,.7)),url(../../../assets/banner/1.png);
        padding: 2rem 1rem;
        grid-column: full-start/ full-end;
    }

}
.promotion{
    width: 50%;
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    justify-items: start;

    @media only screen and (max-width:$bp-medium){
        width: 100%;
    }
}