.mb__small{
    margin-bottom: 1rem;
}
.mt__small{
    margin-top: 1rem;
}
.ml__small{
    margin-left: 1rem;
}
.mr__small{
    margin-right: 1rem;
}

.color__blue{
    color: #3d64ff;
}

a{
    text-decoration: none;
}