.banners{
    grid-column: center-start / center-end;
    background-color: $color-red-light;
    padding: 4rem;
    margin: 3rem 0;
    border-radius: 4px;
}
.banner{
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column-gap: 3rem;
    align-items: center;

    @media only screen and (max-width: $bp-medium){
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-row-gap: 2rem;
    }

    &__box{
        display: grid;
        grid-row-gap: 2rem;
        justify-items: start;
    }
    &__img{
        border-radius: 50%;
    }
}
